# Keeps local developer's changes from ending up in the repo.
.gitignore

# Keep from including these things commonly created during development process....
*.iml
*.log
*.out
*.rej
*.tmp

# Allow for developers to "indicate" something they want ignored.
*.ignore
*.orig
*.test

# These are things that this project creates during the development/building process.
_junk/
rclone
rclone.exe
build
docs/public
rclone.iml
fuzz-build.zip

# OS Flotsam that are randomly left in the workspace.
.DS_Store
Thumbs.db

# Other sawdust that some utilites and things may leave behind.
*~
.idea
.history
__pycache__

###>------------------------------------------------------------
